<div class="container">
  <div class="ui card">
    <h1>Team Gengerator</h1>
    <ul class="list">
      <li *ngFor="let member of members">{{ member }}</li>
    </ul>
    <div class="add-members-container">
      <!-- Kind of [value] could update attribute dynamically -->
      <input
        #addMemberInput
        type="text"
        placeholder="Name"
        (input)="onInput(addMemberInput.value)"
        [value]="newMemberName"
      />
      <button (click)="addMember()">Add</button>
    </div>
    <div class="input-container">
      <input
        #numberofTeamsInput
        type="text"
        placeholder="# of terms"
        (input)="onNumberOfTeamsInput(numberofTeamsInput.value)"
        [value]="numberOfTeams"
      />
      <button (click)="generateTeams()">Gengerate</button>
    </div>
    <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>
    <div *ngIf="teams.length" class="teams-container">
      <app-team>
        *ngFor='let team of teams; let i = index' [team]='Team' [index]="i"
      </app-team>
    </div>
  </div>
</div>
